<footer id="footer" class="footer">
  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 footer-about">
        <a href="/" class="logo d-flex align-items-center">
          <span class="sitename">Orphans Care</span>
        </a>
        <div class="footer-contact pt-3">
          <p>Lome-Doulassame</p>
          <p>10BP: 10261 lome 10</p>
          <p class="mt-3">
            <strong>Phone:</strong> <span>+22890017078/+4917641967089</span>
          </p>
          <p><strong>Email:</strong> <span>orphanscareassociation@gmail.com</span></p>
        </div>
        <div class="social-links d-flex mt-4">
          <a href=""><i class="bi bi-twitter-x"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Liens Utiles</h4>
        <ul>
          <li><a href="/">Accueil</a></li>
          <li><a href="/#about">À propos</a></li>
          <li><a href="/#features">Programmes</a></li>
          <li><a href="/contact">Contact</a></li> 
        </ul>
      </div>
      <div class="col-lg-6 col-md-3 footer-rights"><img src="assets/image/logo.png" alt="">
        <p>© COPYRIGHT 2022 ALL RIGHTS RESERVED</p>
      </div>
     
</footer>
